<footer class="bg-dark text-light mt-5 py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">Team Name</p>
                </div>
                <div class="col-md-6 text-md-right">
                    <p class="mb-0">&copy; 2024 NETFLEX</p>
                </div>
            </div>
        </div>
    </footer>