<footer class="bg-dark text-light mt-5 py-3 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-2 mx-auto">
                    <p class="mb-0">Team Name &copy; 2024 NETFLEX</p>
                </div>
            </div>
        </div>
    </footer>