<footer class="bg-dark text-light mt-5 py-3 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-2 mx-auto">
                <p class="mb-0"><i class="fa-solid fa-dumbbell"></i> Power-Tio &copy; 2024 NETFLEX <i class="fa-solid fa-dumbbell"></i></p>
                
            </div>
        </div>
    </div>
</footer>