<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-6 mb-4">
      <section class="card text-center border-dark">
        <div class="card-body">
          <a style="text-decoration: none; color: black;" href="/post/{{id}}">
            <header class="card-header h4" style="background-color: black; color: white">{{title}}</header>
            <p class="lead">Posted on: {{format_date createdAt}}</p>
            <p>Posted by: {{user.username}}</p>
          </a>
        </div>
        <div class="card-footer"></div>
      </section>
    </div>
  </div>
</div>