<section class="card border-dark text-center mt-4">
  <h1 class="mt-4">Create New Post</h1>
  <div class="card-body">
    <form id="new-post">
      <div class="mb-3">
        <label for="postTitle" class="form-label"></label>
        <input type="text" class="form-control" id="postTitle" placeholder="Enter Post Title">
      </div>
      <div class="mb-3">
        <textarea class="form-control" id="postContent" placeholder="Write your post here"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" style="background-color: black; color: #ffffff;">Create
        Post</button>
    </form>
  </div>
</section>

<script src="/js/newPost.js"></script>